<div class="dashboard">
  <div class="header">
    <h1>Work Order Dashboard</h1>
    <div class="header-actions">
    </div>
  </div>

  <!-- Loading Spinner -->
  @if (loading()) {
    <div class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
      <p>Loading work orders...</p>
    </div>
  } @else {
    <!-- Content -->
    <app-summary-cards-component [workOrders]="workOrders()">
    </app-summary-cards-component>

    <app-table-component
      [workOrders]="workOrders()"
      (onEdit)="handleEdit($event)"
      (onDelete)="handleDelete($event)">
    </app-table-component>
  }
</div>

